body {
    background-color: rgb(1, 29, 156);
    background-position: fixed;
}

h1 {
    text-align: center;
    color: white;
    margin-top: 20px;
    margin-bottom: 30px;
}

#icons {
    text-align: center;
    color: white;
    font-size: 50px;
    margin-bottom: 30px;
}

.main {
    background-color: rgb(237, 235, 213);
}

li {
    padding: 5px;
    margin: 5px;
  }

ul {
    margin-bottom: 30px;
}
  
.label {
    font-weight: bold;
}
  
.create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
}
  
.form-group {
    margin-bottom: 5px;
}

#video {
    text-align: center;
    align-items: center;
    margin-bottom: 30px;
}

footer {
    text-align: center;
    color: white;
    margin-top: 30px;
}

button {
    border-radius: 5px;
}
  